<h2>By regions</h2>
<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="search($event)"
      (onDebounce)="suggestions($event)"
      placeholder="Search region..."
    ></app-country-input>
  </div>
</div>

<hr />

<div *ngIf="hasError" class="alert alert-danger">
  Nothings was found with the term {{ term }}
</div>

<div *ngIf="regions.length > 0" class="row">
  <div class="col">
    <app-country-table [countries]="regions"></app-country-table>
  </div>
</div>
